<p><Font color="#9ab",Font size="6",Font face = "courier new">
<pre> Sign in</pre></Font></p>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Sign in" %>
  </div>
<% end %>
<Font size="3",Font face = "courier new">
<p><pre> New user? <%= link_to "Sign up here â—", signup_path %></pre></p>
</Font>
