<footer>
  <nav class="round">
    <ul>
      <p><li><%= link_to "London", place_path %></li>   |
      <li><%= link_to "Paris", place_path %></li>   |
      <li><%= link_to "Swiss", place_path %></li>   |
      <li><%= link_to "Seoul", place_path %></li>   |
      <li><%= link_to "Hong Kong", place_path %></li>   |  	  
  	  <li><%= link_to "Others", place_path %></li></p>
    </ul>
  </nav>
</footer>
