<footer>
  <nav class="round">
    <ul>
      <p><li><%= link_to "London", london_path %></li>   |
      <li><%= link_to "Paris", paris_path %></li>   |
      <li><%= link_to "Swiss", switzerland_path %></li>   |
      <li><%= link_to "Seoul", seoul_path %></li>   |
      <li><%= link_to "Hong Kong", hongkong_path %></li>   |
      <li><%= link_to "U.S.A", usa_path %></li>   |
  	  <li><%= link_to "Others", others_path %></li></p>
    </ul>
  </nav>
</footer>
